{% extends 'adm_base.html' %}
{% block conteudo %}
<section class="content-container">
    <div class="border-bottom">
        <h2>Adicionar Usuario</h2>
    </div>
    <form class="form" action="{{url_for('post_usuario')}}" method="POST">
        <div class="split-content-left">
            <div class="form-group">
                <label for="nome">Nome<span class="required">*</span></label>
                <input type="text" name="nome" id="nome" required>
            </div>

            <div class="form-group">
                <label for="email">Email<span class="required">*</span></label>
                <input type="email" name="email" id="email" required>
            </div>

            <div class="form-group">
                <label for="disponivel">Disponível<span class="required">*</span></label>
                <select name="disponivel" id="disponivel">
                    <option value="1" selected>Sim</option>
                    <option value="0">Não</option>
                </select>
            </div>

            <div class="form-group">
                <label for="papel">Papel<span class="required">*</span></label>
                <select name="papel" id="papel">
                    <option value="user" selected>Usuario</option>
                    <option value="admin">Administrador</option>
                </select>
            </div>
        </div>

        <div class="split-content-right">

            <div class="form-group">
                <label for="cargo">Cargo</label>
                <input type="text" name="cargo" id="cargo">
            </div>

            <div class="form-group">
                {% if setores %}
                <label for="setor_id">Setor<span class="required">*</span></label>
                <select name="setor_id" id="setor_id" required>
                    {% for setor in setores %}
                    <option value="{{setor.id}}">{{setor.nome}}</option>
                    {% endfor %}
                </select>
                {% else %}
                <p class="required">Crie um setor!</p>
                {% endif %}

            </div>

            <div class="form-group">
                <label for="contato">Contato</label>
                <input type="text" name="contato" id="contato">
            </div>

            <div class="form-group">
                {% if horarios_trabalho %}
                <label for="horario_trabalho_id">Horário<span class="required">*</span></label>
                <select name="horario_trabalho_id" id="horario_trabalho_id">
                    {% for horario_trabalho in horarios_trabalho %}
                    <option value="{{horario_trabalho.id}}">
                        {{horario_trabalho.horario_inicio}}/{{horario_trabalho.horario_fim}}</option>
                    {% endfor %}
                </select>
                {% else %}
                <p class="required">Crie um horario de trabalho!</p>
                {% endif %}
            </div>
        </div>

        <div class="form-group border-top" style="width: 100%;">
            <input type="submit" class="btn btn-success" value="Cadastrar">

            <button class="btn btn-warning" onclick="clearForms()">Limpar</button>
        </div>
    </form>
</section>
{% endblock conteudo %}