{% extends 'adm_base.html' %}
{% block conteudo %}
<section class="content-container">
    <div class="title">
        <h2>Setores</h2>
    </div>
        <div class="title">
        <a class="btn btn-success fit-content margin-5" href="{{url_for('post_setor')}}">Criar Setor</a>
    </div>
    <div class="table margin-5">
        <table>
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Gestor</th>
                    <th scope="col">Data de Criação</th>
                    <th scope="col">Membros</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% if setores %}
                {% for setor in setores %}
                <tr>
                    <td>{{setor.id}}</td>
                    <td>{{setor.nome}}</td>
                    <td>{{setor.gestor.nome}}</td>
                    <td class="format-datetime">{{setor.data_criacao}}</td>
                    <td style="width: 200px;">
                        <div class="inner-content">
                            {% for membro in setor.membros %}
                            <span class="btn btn-success">
                                {{membro.nome}}
                            </span>
                            {% endfor %}
                        </div>
                    </td>
                    <td>
                        <a class="btn btn-warning" href="{{url_for('put_setor',id=setor.id)}}">Editar</a>
                        <a class="btn btn-danger" onclick="return confirm('Deseja excluir o Setor {{setor.nome}}?')" href="{{url_for('del_setor',id=setor.id)}}">Excluir</a>
                </tr>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td class="required" colspan="7">Não há setores</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</section>
{% endblock conteudo %}