{% if papel == 'user' %}
{% extends 'base.html' %}
{% else %}
{% extends 'adm_base.html' %}
{% endif %}
{% block conteudo %}
<section class="content-container">
    <div class="title">
        <h2>Atividades para fazer</h2>
    </div>
    <section class="table margin-5">
        <table>
            <thead>
                <th scope="col">ID</td>
                <th scope="col">Titulo</td>
                <th scope="col">Tarefa</th>    
                <th scope="col">Prioridade</th>
                <th scope="col">Categoria</td>
                <th scope="col">Status</td>
                <th scope="col">Tempo estimado</td>
                <th scope="col">Tempo gasto</th>
                <th scope="col">Ações</td>
            </thead>
            <tbody>
                {% if atividades %}
                {% for atividade in atividades %}
                <tr>
                    <td>{{atividade.id}}</td>
                    <td>{{atividade.titulo}}</td>
                    <td><a href="{{url_for('self_tarefa',id=atividade.tarefa.id)}}">{{atividade.tarefa.titulo}}</a></td>
                    <td>{{atividade.tarefa.prioridade_tarefa.nome}}</td>
                    <td>{{atividade.categoria_atividade.nome}}</td>
                    <td>{{atividade.status_tarefa.nome}}</td>
                    <td class="format-time">{{atividade.tempo_estimado}}</td>
                    <td class="format-time">{% if atividade.tempo_gasto %}{{atividade.tempo_gasto}}{% else %}00:00{% endif %}</td>
                    <td>
                        <a class="btn btn-success" href="{{url_for('post_lancamento_atividade', atividade_id=atividade.id)}}">Lançar atendimento</a>
                        <a class="btn btn-danger" onclick="return confirm('Deseja mesmo concluir a atividade?')" href="#">Concluir Atividade</a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <td colspan="8" class="required">Não há atividades ativas</td>
                {% endif %}
            </tbody>
        </table>
    </section>
</section>
{% endblock conteudo %}