* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5em;
}

:root {
    --destaque: #54b066;
    --texto: #222222;
    --texto-inverso: #ffffff;
    --destaque-inverso: #62c075;

}

.container {
    display: grid;
    grid-template: 1fr 90vw 1fr;
    gap: 20px;
}

header {
    background-color: var(--destaque);
    display: flex;
    padding: 10px;
}

nav#menu ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

nav#menu a {
    text-decoration: none;
    font-weight: 600;
    color: var(--texto);
    padding: 12px 15px;
    border-radius: 5px;
    transition: backgroundcolor 0.5s, color 0.5s;
}

nav#menu a:hover {
    background-color: var(--destaque-inverso);
    color: var(--texto-inverso);
}