* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5em;
}

:root {
    --destaque: #54b066;
    --texto: #222222;
    --texto-inverso: #ffffff;
    --destaque-inverso: #62c075;

}

.container {
    display: grid;
    grid-template-columns: 1fr 90vw 1fr;
    gap: 20px;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

header {
    background-color: var(--destaque);
    display: flex;
    padding: 10px;
}
/* ---- MENU ---- */

nav#menu {
    width: 100%;
}

nav#menu ul {
    list-style: none;
    display: flex;
    align-content: flex-end;
    gap: 10px;
}

nav#menu ul li#nav-perfil {
    margin-left: auto;
}

nav#menu a {
    text-decoration: none;
    font-weight: 600;
    color: var(--texto);
    padding: 12px 15px;
    border-radius: 5px;
    transition: backgroundcolor 0.5s, color 0.5s;
}

nav#menu a:hover {
    background-color: var(--destaque-inverso);
    color: var(--texto-inverso);
}
/* -------------- */
/* ALERT */
.alert {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border-width: 1px 0px 1px 0px ;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: var(--texto)
}

.alert-danger {
    background-color: #e79494;
}

.alert-success{
    background-color: #88e688;
}
/* -------------- */
/* Titulos */
h2 {
    text-align: center;
    color: var(--texto);
}
/* -------------- */
#img-logo {
    height: 30px;
    width: 37px;
}

input[type="text"], input[type="password"] {
    border-radius: 5px;
    padding: 3px;
    border: 1px inset;
}

input[type="text"]:focus , input[type="password"]:focus {
    outline-color: var(--destaque);
    outline: 0.5px invert;
}

section#login {
    border-radius: 5px;
    padding: 30px;
    grid-column: 2;
    background-color: lightblue;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.267);
}

section#conteudo {
    grid-column: 2;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.267);
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    gap: 10px;
}

label {
    width: 60px;
    font-weight: 600;
}

.btn {
    display: block;
    padding: 5px;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 0.8em;
    text-decoration: none;
    color: var(--texto);
}

.btn a {
    text-decoration: none;
    color: var(--texto);
}

.btn-success {
    background-color: #88e688;
}

.btn-warning{
    background-color: #fafa63;
}

.btn-danger {
    background-color: rgb(216, 34, 34);
}