* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5em;
    color: var(--texto);
}

:root {
    --destaque: #54b066;
    --texto: #222222;
    --texto-inverso: #ffffff;
    --destaque-inverso: #62c075;
    --title: cornsilk;
    --light-title: rgb(175, 243, 175);
    --subtitle: rgb(252, 248, 236);
    --btn-success: #88e688;
    --btn-warning: #fafa63;
    --btn-danger: #d82222;
    --alert-success:#88e688;
    --alert-danger:#e79494;
    --table-head: #74f5ca;
}
/* ---- GERAL ---- */

.required {
    color: var(--btn-danger);
    font-size: 0.8em;
}

.success {
    color: var(--btn-success);
}

.warning {
    color: var(--btn-warning);
}

.text-align-center {
    text-align: center;
}

.fit-content {
    width: fit-content;
}

.container {
    display: grid;
    grid-template-columns: 1fr 90vw 1fr;
    gap: 20px;
}

.border-radius {
    border-radius: 5px;
}

.margin-5 {
    margin: 5px;
}

.border-top {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.split-content {
    display: flex;
    width: 100%;
}

.split-content-left {
    width: 49%;
    float: left;
    min-width: 300px;
    align-items: center;
    margin: 0px auto;
    justify-content: center;
}

.split-content-right {
    align-items: flex-start;
    width: 49%;
    float: right;
    margin: 0px auto;
    min-width: 300px;
}
/* -------------- */
.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

section#login {
    border-radius: 5px;
    padding: 30px;
    grid-column: 2;
    background-color: lightblue;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.267);
}

section#login > h2 {
    background-color: none !important;
}

section#conteudo {
    grid-column: 2;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.267);
}
/* ---- Containers ---- */

.content-container {
    grid-column: 2;
    justify-content: center;
    margin-top: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.267);
    border-radius: 5px;
}

.card-container {
    margin: 5px;
    border-radius: 5px;
}

.card-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.card-footer {
    border-top: 1px solid black;
    padding: 5px;
    margin-top: 5px;
    justify-content: center;
}

/* ---- MENU ---- */
header {
    background-color: var(--destaque);
    padding: 10px;
}

nav#menu ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

nav#menu ul li#nav-perfil {
    margin-left: auto;
}

nav#menu a {
    text-decoration: none;
    font-weight: 600;
    color: var(--texto);
    padding: 12px 15px;
    border-radius: 5px;
    transition: backgroundcolor 0.5s, color 0.5s;
}

nav#menu a:hover {
    background-color: var(--destaque-inverso);
    color: var(--texto-inverso);
}
/* -------------- */
/* ALERT */
.alert {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border-width: 1px 0px 1px 0px ;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: var(--texto)
}

.alert-danger {
    background-color: var(--alert-danger);
}

.alert-success{
    background-color: var(--alert-success);
}
/* -------------- */
/* Titulos */
.title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

h1 {
    margin-bottom: 5px;
    text-align: center;
}

h2 {
    margin: 5px;
    background-color: var(--title);
    text-align: center;
    border-radius: 5px;
}

h3 {
    margin: 5px;
    background-color: var(--subtitle);
    text-align: center;
    border-radius: 5px;
}

h4 {
    margin: 5px;
    background-color: var(--light-title);
    border-radius: 5px;
}
/* -------------- */
/* ---- Imagens ---- */
#img-logo {
    height: 30px;
    width: 37px;
}
/* -------------- */
/* ---- forms ---- */
input[type="text"], input[type="password"], input[type="email"], input[type="time"],select, textarea {
    border-radius: 5px;
    padding: 3px;
    border: 1px inset;
}

input[type="text"]:focus , input[type="password"]:focus, input[type="email"]:focus, input[type="time"]:focus, select, textarea:focus {
    outline-color: var(--destaque);
    outline: 0.5px invert;
}

textarea {
    min-width: 190px;
    min-height: 100px;
}

select {
    min-width: 188px;
}

.select-demanda {
    width: 300px;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    gap: 5px;
    width: 100%;
}

.form-group label {
    display: inline-block;
    text-align: end;
    width: 115px;
}

.form {
    display: flex;
    flex-wrap: wrap;
}

form > a {
    width: fit-content;
}

.form-filter {
    margin: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.form-btn {
    margin-left: auto;
}

.user-group{
    margin: 5px auto;
}

.user-list {
    width: 100%;
    list-style: none;
    columns: 2;
    padding: 5px;
}
/* ---- Tabelas ---- */
.table {
    overflow-x: auto;
    border-radius: 5px;
}
table {
    margin: 0 auto;
    border-radius: 5px;
    border-collapse: collapse;
}
th {
    background-color: var(--table-head);
}
td{
    text-align: center;
}
th, td {
    padding: 3px;
    font-size: 0.8em;
    border: 1px solid black;
}
.inner-content {
     display: flex;
     flex-wrap: wrap;
     margin: 2px;
}

/* -------------- */
/* ---- Botões ---- */
.btn {
    display: block;
    padding: 5px;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 0.8em;
    text-decoration: none;
    color: var(--texto);
    margin: 4px;
}

.btn a {
    text-decoration: none;
    color: var(--texto);
}

.btn-success {
    background-color: var(--btn-success);
}

.btn-warning{
    background-color: var(--btn-warning);
}

.btn-danger {
    background-color: var(--btn-danger);
}

/* -------------- */