{% extends 'adm_base.html' %}
{% block conteudo %}
<section class="content-container">
    <div class="border-bottom">
        <h2 class="title">Notas</h2>
    </div>
    <div style="display: flex;" class="border-bottom">
        <a href="{{url_for('post_nota')}}" class="btn btn-success margin-5">Criar nota</a>
    </div>
    <section class="table margin-5">
        <table>
            <thead>
                <tr>
                    <th span="col">ID</th>
                    <th span="col">Titulo</th>
                    <th span="col">Projeto</th>
                    <th span="col">Demanda</th>
                    <th span="col">Titulo demanda</th>
                    <th span="col">Prioridade</th>
                    <th span="col">Categoria</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% if notas %}
                {% for nota in notas %}
                <tr>
                    <td>{{nota.id}}</td>
                    <td>{{nota.titulo}}</td>
                    <td>{{nota.demanda.titulo_projeto.nome}}</td>
                    <td>{{nota.demanda.id_demanda}}</td>
                    <td>{{nota.demanda.titulo}}</td>
                    <td>{{nota.prioridade.nome}}</td>
                    <td>{% if nota.demanda.categoria %}{{nota.demanda.categoria.nome}}{% endif %}</td>
                    <td>
                        <a href="#" class="btn btn-success">Criar Tarefa</a>
                        <a href="{{url_for('put_nota', id=nota.id)}}" class="btn btn-warning">Editar</a>
                        <a href="{{url_for('del_nota', id=nota.id)}}" onclick="return confirm('Deseja excluir a nota {{nota.titulo}}?')" class="btn btn-danger">Excluir</a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <td colspan="8">Não há notas criadas</td>
                {% endif %}
            </tbody>
        </table>
    </section>
</section>
{% endblock conteudo %}