{% extends 'adm_base.html' %}
{% block conteudo %}
<section class="content-container">
    <div class="title">
        <h2 class="title">Notas</h2>
    </div>
    <div style="display: flex;" class="title">
        <a href="{{url_for('post_nota')}}" class="btn btn-success margin-5">Criar nota</a>
        <a href="{{url_for('notas_suspensas')}}" class="btn btn-success margin-5">Notas suspensas</a>
    </div>
    {% if filter %}
    <div class="border-bottom">
        <h4>Filtros</h4>
        <form class="form form-filter" action="{{url_for('notas')}}" method="get">

            <input type="hidden" id="nota_filter_categoria_id" value="{% if categoria_id %}{{categoria_id}}{%endif%}">

            <label for="titulo">Titulo</label>
            <input type="text" name="titulo" id="titulo" value="{{titulo}}">

            <label for="id_demanda">Demanda</label>
            <input type="text" name="id_demanda" id="id_demanda" value="{{id_demanda}}">

            <label for="categoria_id">Categoria</label>
            <select name="categoria_id" id="categoria_id">
                <option value="">-- Escolha um --</option>
                {% for categoria in categorias %}
                <option value="{{categoria.id}}" {% if categoria_id == categoria.id %}selected{% endif %}>{{categoria.nome}}</option>
                {% endfor %}
            </select>

            <div class="form-btn">
                <input type="submit" class="btn btn-success" value="Filtrar">
                <a href="#" class="btn btn-warning" onclick="clearForms()">Limpar</a>
            </div>
        </form>
    </div>
    {% endif %}
    <section class="table margin-5">
        <table>
            <thead>
                <tr>
                    <th span="col">ID</th>
                    <th span="col">Titulo</th>
                    <th span="col">Projeto</th>
                    <th span="col">Demanda</th>
                    <th span="col">Titulo demanda</th>
                    <th span="col">Categoria</th>
                    <th span="col">Tarefas</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% if notas %}
                {% for nota in notas %}
                <tr>
                    <td>{{nota.id}}</td>
                    <td>{{nota.titulo}}</td>
                    <td>{{nota.demanda.titulo_projeto.nome}}</td>
                    <td>{{nota.demanda.id_demanda}}{% if nota.demanda.ativo == False %}/<span class="required"
                            title="Demanda foi finalizada ou suspensa">Desativada</span>{% endif %}</td>
                    <td>{{nota.demanda.titulo}}</td>
                    <td>{% if nota.demanda.categoria %}{{nota.demanda.categoria.nome}}{% endif %}</td>
                    <td>
                        {% if nota.tarefas %}
                        {% for tarefa in nota.tarefas %}
                        <a href="{{url_for('self_tarefa', id=tarefa.id)}}"
                            class="btn btn-success fit-content">{{tarefa.titulo}}</a>
                        {% endfor %}
                        {% else %}
                        <span class="required">Não há tarefas registradas</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if nota.ativo == True %}
                        <a href="{{url_for('post_tarefa', nota_id=nota.id)}}" class="btn btn-success">Criar Tarefa</a>
                        <a href="{{url_for('put_nota', id=nota.id)}}" class="btn btn-warning">Editar</a>
                        <a href="{{url_for('del_nota', id=nota.id)}}"
                            onclick="return confirm('Deseja excluir a nota {{nota.titulo}}?')"
                            class="btn btn-danger">Excluir</a>
                        {% else %}
                        <a href="{{url_for('reativar_nota', id=nota.id)}}" class="btn btn-success">Reativar</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <td colspan="8">Não há notas criadas</td>
                {% endif %}
            </tbody>
        </table>
    </section>
</section>
<script>
document.addEventListener("DOMContentLoaded", ()=> {
    categoria_id = document.getElementById("nota_filter_categoria_id").value
    select = document.getElementById("categoria_id")

    for (let option of select.options) {
        if(option.value === categoria_id) {
            option.selected = true
            break
        }
    }
}
)
</script>
{% endblock conteudo %}