{% extends 'adm_base.html' %}
{% block conteudo %}
<section class="content-container">
    <div class="title">
        <h2>Alterar Nota</h2>
    </div>

    <form class="form" action="{{url_for('put_nota', id=nota.id)}}" method="POST">

        <div class="form-group">
            <label for="titulo">Titulo</label>
            <input type="text" name="titulo" id="titulo" value="{{nota.titulo}}" required>
        </div>

        <!-- demanda -->
        <div class="form-group">
            <label for="demanda_id">Demanda</label>
            {% if demandas %}
            <select class="select-demanda" name="demanda_id" id="demanda_id" required>
                {% for demanda in demandas %}
                <option value="{{demanda.id}}" {% if nota.demanda_id == demanda.id %}selected{% endif %}>{{demanda.id_demanda}} / {{demanda.titulo}}</option>
                {% endfor %}
            </select>
            {% else %}
            <p class="required" title="Necessário criar!">Não há demandas</p>
            {% endif %}
        </div>

        <div class="form-group border-top">
            <input type="submit" class="btn btn-success" value="Alterar">

            <a href="#" class="btn btn-warning" onclick="clearForms()">Reverter</a>
        </div>
    </form>
</section>
{% endblock conteudo %}