{% extends 'adm_base.html' %}
{% block conteudo %}
<section class="content-container">
    <div class="title">
        <h2>Alterar horario Trabalho</h2>
    </div>

    <form class="form" action="{{url_for('put_horario_trabalho', id=horario_trabalho.id)}}" method="post">
        <div class="form-group">
            <label for="horario_inicio">Horario de Inicio</label>
            <input type="time" name="horario_inicio" id="horario_inicio" value="{{horario_trabalho.horario_inicio}}" required>
        </div>

        <class class="form-group">
            <label for="horario_fim">Horario de Término</label>
            <input type="time" name="horario_fim" id="horario_fim" value="{{horario_trabalho.horario_fim}}" required>
        </class>

        <class class="form-group" >
            <label for="tipo_turno">Tipo do Turno</label>
            <select name="tipo_turno" id="tipo_turno" required>
                <option value="Diurno" {% if horario_trabalho.tipo_turno == "Diurno" %}selected{% endif %}>Diurno</option>
                <option value="Noturno" {% if horario_trabalho.tipo_turno == "Noturno" %}selected{% endif %}>Noturno</option>
            </select>
        </class>

        <div class="form-group border-top" style="width: 100%;">
            <input class="btn btn-success" type="submit" value="Alterar">
            
            <a href="#" class="btn btn-warning reset" onclick="clearForms()">Reverter</a>
        </div>
    </form>

</section>
{% endblock conteudo %}