<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOS - Notas</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script src="https://kit.fontawesome.com/9b1cc0206a.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <!-- Navbar -->
        <nav id="menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="{{url_for('usuarios')}}">Usuario</a></li>
                <li><a href="{{url_for('notas')}}">Nota</a></li>
                <li><a href="{{url_for('demandas')}}">Demanda</a></li>
                <li><a href="{{url_for('horarios_trabalho')}}">Horario de Trabalho</a></li>
                <li><a href="{{url_for('setores')}}">Setor</a></li>
                <li><a href="#">Tarefa</a></li>
                <li><a href="#">Atividade</a></li>
                <li><a href="#">Horario</a></li>
            </ul>
        </nav>
    </header>

    <!-- Content -->
    <div id="msg">
    {% for category,msg in get_flashed_messages(with_categories=true) %}
        {% if category == 'success' %}
            <div class="alert alert-success">{{msg}}</div>
        {% elif category == 'error' %}
            <div class="alert alert-danger">{{msg}}</div>
        {% endif %}
    {% endfor %}
    </div>
    <main class="container">
        {% block conteudo %}
        {% endblock conteudo %}
    </main>

    <footer>

    </footer>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
</html>