{% extends 'adm_base.html' %}
{% block conteudo %}
<section class="content-container">
    <div class="border-bottom">
        <h2>Demandas</h2>
    </div>
    <div style="display: flex;" class="border-bottom">
        <a class="btn btn-success fit-content margin-5" href="{{url_for('get_demandas')}}">Buscar novas demandas</a>
        <a class="btn btn-warning fit-content margin-5" href="{{url_for('put_demandas')}}">Verificar atualizações</a>
        <a class="btn btn-danger fit-content margin-5" href="{{url_for('del_demandas')}}">Excluir demanda finalizadas</a>
    </div>
    <section class="table margin-5">
        <table>
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">ID demanda</th>
                    <th scope="col">Título</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Status</th>
                    <th scope="col">Prioridade</th>
                    <th scope="col">Notas</th>
                    <!-- <th scope="col">Ações</th> -->
                </tr>
            </thead>
            <tbody>
                {% if demandas %}
                {% for demanda in demandas %}
                <tr>
                    <td>{{demanda.id}}</td>
                    <td>{{demanda.id_demanda}}</td>
                    <td>{{demanda.titulo}}</td>
                    <td>{{demanda.author.nome}}</td>
                    <td>{{demanda.status.nome}}</td>
                    <td>{{demanda.prioridade.nome}}</td>
                    <td>{% for nota in demanda.nota %} <a class="btn btn-success" href="#">{{nota.titulo}}</a> {% endfor %}</td>
                    <!-- <td>
                        <a class="btn btn-warning" href="#">Editar</a>
                        <a class="btn btn-danger" onclick="return confirm('Deseja mesmo excluir a demanda {{demanda.id_demanda}}')" href="#">Deletar</a>
                    </td> -->
                </tr>
                {% endfor %}
                {% else %}
                <td span="row">Não há demandas cadastradas</td>
                {% endif %}
            </tbody>
        </table>
    </section>
</section>
{% endblock conteudo %}